.payment h2 {
    padding: 12px 17px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.payment .payment-content {
    padding: 12px 17px;
}

.payment .payment-content p, 
.payment .payment-content label {
    line-height: 1.8;
}

.payment .ticket-info {
    width: 100%;
}