/* Header */
.header {
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

/* Navbar */
.navbar .input-group {
    position: relative;
    width: 100%;
}

.navbar .input-group input {
    width: 100%;
    font-size: 16px;
    padding: 8px 10px 8px 35px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.navbar .input-group button {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

/* Header Top */
.header-top .input-group {
    width: 230px;
    position: relative;
    padding-right: 20px;
    transition: 0.3s ease-in-out;
}

.header-top .input-group input {
    width: 100%;
    font-size: 16px;
    padding: 8px 10px 8px 35px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.header-top .input-group:focus-within {
    width: 300px;
}

.header-top .input-group button {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
    .navbar {
        padding-top: 20px;
        margin-top: 40px;
    }

    .navbar ul li a {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 640px) {
    .logo {
        width: 65px;
        height: 65px;
    }
}